body::-webkit-scrollbar{
    width:1rem;
}

body::-webkit-scrollbar-track {
    background:rgb(143, 143, 235);
}
.a{
    color:rgb(221, 168, 158);
    font-family:Chopin Script;
    font-size:60px;


}

li{
    display:inline-block;
    margin-left:80px;
    color: white;
    align-items: right;
    padding-top: 15px;
    padding-bottom:5px;
    background-color: rgb(48, 148, 138);
    border-radius: 8px;

}

li a:hover{
    background-color: white;
    color:rgb(48, 148, 138);
}

ul{
    text-align: center;
    font-size: 40px;
}

.b{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-decoration: none;
}

.c{
    border: 100px;
    color:white;
    font-size: 30px;
    text-align: center;
    padding-top:100px;
    padding-bottom: 100px;
    border-style: solid;
    border-color: azure;
    border-width: 1px;
    box-shadow: 0 0 25px;
    border-radius:25px;

}

.d{
    height: 120px;
    width: 750px;
    color:white;
    padding-left:250px;
    padding-top:100px;

}

.contain{
    display: flex;
}

.e{
    padding-right:50px;
    padding-left:12px
}

.nav{
    position:relative;
    border-radius: 10px;
}

.f{
    color: white;
    font-size: 30px;
    padding-left:-200px;
}